# Virtual Environment
myenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Database
*.db
*.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/